<% include partials/Header %>


    <!-- Name:
Description:
Release Date : 2014-
Rating:
Ticket Price:
Country:
Genre :
Photo: -->

    <h1 class="text-center">New Movie Create</h1>
    <form method="post" action="" role="form">
        <div class="messages"></div>
        <div class="controls">
            <div class="row">
                <!-- Movie Details -->
                <div class="col-md-6">
                    <div class="form-group mb-2">
                        <label for="form_name">MovieName <span class="text-danger">*</span></label>
                        <input id="form_name" type="text" name="name" class="form-control"
                            placeholder="Name of the Movie" required="">
                    </div>
                </div>
                <!-- Movie Description -->
                <div class="col-md-6">
                    <div class="form-group mb-2">
                        <label for="form_description">Movie Description <span class="text-danger">*</span></label>
                        <input id="form_description" type="text" name="description" class="form-control"
                            placeholder="Movie Description" required="">
                    </div>
                </div>
                <!-- Movie Release Date -->
                <div class="col-md-6">
                    <div class="form-group mb-2">
                        <label for="form_release">Movie Release <span class="text-danger">*</span></label>
                        <input id="form_release" type="date" name="release" class="form-control"
                            placeholder="Movie Release Date" required="">
                    </div>
                </div>
                <!-- Movie Rating -->
                <div class="col-md-6">
                    <div class="form-group mb-2">
                        <label for="form_rating">Movie Rating <span class="text-danger">*</span></label>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
                <!-- Movie Ticket Price -->
                <div class="col-md-6">
                    <div class="form-group mb-2">
                        <label for="form_ticketprice">Ticket Price <span class="text-danger">*</span></label>
                        <input id="form_ticketprice" type="number" name="name" class="form-control"
                            placeholder="Ticket Price" required="">
                    </div>
                </div>
                <!-- Country List -->
                <div class="col-md-6">
                    <div class="form-group mb-2">
                        <label for="country">Country <span class="text-danger">*</span></label>
                        <select id="country" name="country">
                            <option value="australia">Australia</option>
                            <option value="canada">Canada</option>
                            <option value="usa">USA</option>
                            <option value="india">India</option>
                            <option value="uae">UAE</option>
                        </select>
                    </div>
                </div>
                <!-- Genre -->
                <div class="col-md-6">
                    <div class="form-group mb-2">
                        <label for="form_genre">Genre <span class="text-danger">*</span></label>
                        <input id="form_genre" type="text" name="genre" class="form-control" placeholder="Genre"
                            required="">
                    </div>
                </div>
                <!-- Photo -->
                <div class="col-md-6">
                    <div class="form-group mb-2">
                        <label for="form_picture">Select your Movie picture:<span class="text-danger">*</span></label>
                        <input id="form_picture" type="file" name="profile_pic" placeholder="upload the movie picture"
                            required="">

                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-12 mt-2">
                    <input type="submit" class="btn btn-success btn-send" value="Send message">
                </div>
            </div>
        </div>
    </form>
    <% include partials/Footer %>